.page-services {

	header {
		&.small {
		  transform: translateY(-0px);

		  @include respond-to('medium') {
		  	transform: translateY(-40px);
		  }
			
		  .logo-section {
		  	transform: scale(0.7);
		  }

		}
	}

	.hero-section {
		.arrow {
			&.custom-animate {
				height: 315px;
			}

		}

	}


	.service-container {
		margin: 50px 0px 100px;
		@include respond-to("medium"){
			margin: 100px 0px;
		}

		img {
			@include transition-property(all);
			@include transition-duration(0.5s);
			opacity: 0;
		}

		&.img-right img {
			@include transform (translate( -20px, 0));  
		}
		&.img-left img {
			@include transform (translate( 20px, 0));  
		}
		
		&.custom-animate {
			opacity: 1;
			transition: all 2s;

			&.img-right img {
				@include transform (translate( 0px, 0)); 
				@include transition-delay(0.1s);
				opacity: 1;
				@include respond-to("medium"){
					@include transition-delay(0.4s);
				}
			}
			&.img-left img {
				@include transform (translate( 0px, 0)); 
				@include transition-delay(0.1s);
				opacity: 1;
				@include respond-to("medium"){
					@include transition-delay(0.4s);
				}
			}
		}

		.heading {
			font-size: 20px;
			margin-top: 15px;
			@include respond-to("medium"){
				margin-top: 50px;
			}
		}

		.service-description {
			font-size: 16px;
			font-weight: $light;
			line-height: 2;
			margin-bottom: 30px;
		}
		
		img{
			width: 450px;
		}

	}

	.banner {
		position:relative;
        overflow: hidden;

		img{
			height: 270px;
			max-width: initial;

			@include respond-to("medium"){
				max-width: 100%;
				height: auto;
			}

		}

		.banner-absolute {
			position: absolute;
			top: calc(50% - 103.5px);
			padding: 0 15px;

			@include respond-to("small"){
				top: calc(50% - 105px);
			}

			@include respond-to("medium"){
				padding: 0;
				top: calc(50% - 90px);
				width: 100%;
			}

		}

		.banner-heading {
			font-size:22px;
			color: $white;
			letter-spacing: 0.5px;
			font-weight: bold;
			line-height: 1.5;
			
			@include respond-to("medium"){
				font-size:32px;
				font-weight: $semi-bold;
			}
		}
	}
	
	.testimonials{
		padding-top: 150px;
        padding-bottom: 100px;
		
		.arrow{
			height: 500px;
			top: -150px;
			
			&.custom-animate {
				height: 780px;
			}
			
		}
		
	}
	
	footer{
		.arrow{
			visibility: hidden;
		}
	}

}