// Colors 
$white: #FFFFFF;
$black: #3A3A3A;
$grey: #727171;
$grey-light: #F7F7F7;
$green: #1FFF00;

// Font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;

// Base Font
$base-font-family: Helvetica,sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.1;

// Fixed Font
$fixed-font-family: "Montserrat";
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Text font
$text-size: 22px;
$text-mobile-size: 20px;
$text-line-height: 2em;
$text-mobile-line-height: 1.7em;

