aside {
	background: $white;
	position: fixed;
	z-index: 3500;
	background: #FFF;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	@include box-shadow(rgba(#666, 0.4) 0 6px 20px);
	opacity: 0;
	visibility: hidden;
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in-out);
	@include transform (translate( 100px, 0)); 
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;

	@include respond-to('medium') {
		width: 70%;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		@include transform (translate( 0, 0)); 
	}
	.arrow {
		left: 80px;
		top: 45px;
	}

	.aside-title {
		font-size: 25px;
		font-weight: $semi-bold;
		margin: 0 0 15px;

		@include respond-to('medium') {
			font-size: 46px;
		}
	}

	.aside-description {
		font-size: 18px;
		font-weight: $light;
		margin: 0px;

		@include respond-to('medium') {
			font-size: 20px;
		}
	}

	.close-sidebar {
		position: absolute;
		background: $green;
		color: $white; 
		border-radius: 50%;
		height: 35px;
		width: 35px;
		font-size: 19px;
		top: 15px;
		border: none;
		right: 15px;
		text-align: center;
        transition: all 0.5s;
        
        &:focus{
            outline: none;
        }
        
        &:hover{
            background: #6573DA;
            transition: all 0.5s;
            transform: rotate(90deg);
        }

		@include respond-to('medium') {
			height: 52px;
			width: 52px;
			top: 20px;
			right: 40px;
		}
        
        .fa-lg{
            vertical-align: -13%;
        }
	}

	.form-container {
		width: 95%;
		padding: 10px;
		display: -ms-flexbox;
	    display: flex;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -ms-flex-pack: justify;
	    justify-content: space-between;

	    @include respond-to('medium') {
	    	padding: 70px 120px;
	    	width: 100%;
	    }

	}

	.form-group {

		.btn {
			border: none;
			margin-top: 25px;
			padding-left: 0px;
		}

	}

	textarea {
		padding-top: 25px;
		height: 115px!important;
	}
    
    .middle-width {
        width: 48%;
        float: left;
        display: inline-block;
        
        &.pull-right {
            float: right;
        }
    }

    .error{
        color: #e60202;
        padding-left: 10px;
        display: inline-block;
        margin-top: 10px;
    }
    
	.form-control {
		width: 100%;
		border: none;
		background: #F7F7F7;
		height: 45px;
		padding-left: 25px;
		margin-top: 18px;
		box-sizing: border-box;
		font-size: 18px;
		font-weight: $light;


		@include respond-to('medium') {
			height: 45px;
			margin-top: 25px;
		}
	}
	
	.aside-text {
		font-size: 18px;
		font-weight: $light;
		margin-top: 45px;

		@include respond-to('medium') {
			margin-top: 60px;

		}
	}

	.aside-mail {
		font-size: 25px;
		font-weight: $extra-bold;

		@include respond-to('medium') {
			font-size: 42px;

		}
	}

	.mail-networks {
		position: relative;

		.social-networks {
		
			position: absolute;
			bottom: 6px;
			right: -40px;
			display: none;

			.social-link {
				color: #1FFF00;
			}

			@include respond-to('medium') {
				display: block;
			}
			
		}

	}

}