.carrousel {
	position: relative;
	padding-bottom: 40px;

	&:before {
		content: '';
		display: block;
		bottom: 0px;
		position: absolute;
		width: 100%;
		height: 45%;
		background: $green;
		z-index: -1;
	}

	.studio-slider {
		
	    margin: auto;
	    position: relative;
	    margin-bottom: 8px;

	    .flex-viewport {
			@include box-shadow(rgba(#666, 0.4) 0 6px 20px);
	    }

		@include respond-to('medium') {
			max-width: 1325px;
		}

	}

	.flexslider {
        position: relative;
        
        .flex-direction-nav{

        	display: none;

        	@include respond-to('medium') {
        		display: block;
        	}

			a{
				opacity: 0.7;
				text-indent: -3000px;
				text-align: start;
				width: 47px;
				height: 36px;

				&:before{
					opacity: 0;
					content: '';
					background-image: url(images/prev-carrousel.png);
					width: 36px;
					height: 47px;
					display: block;
					background-repeat: no-repeat;
				}

			}

			.flex-prev{
				left: 30px;
			}

			.flex-next{
				right: 30px;
				transform: rotate(-180deg);

				&:before {
					
				}

			}

		}

		&:hover{

			.flex-direction-nav{

				.flex-prev{
			        left: 30px;

			        &:before{
						opacity: 1;
					}

				}

				.flex-next{
			        right: 30px;

			        &:before{
						opacity: 1;
					}

				}
                
			} 

		} 

		
		.flex-control-nav {
			text-align: right;
			margin: auto;
			bottom: -27px;
			right: 15px;
			z-index: 10;
			position: relative;

			@include respond-to('medium') {
				width: 768px;
				right: 0px;
				bottom: -20px;
			}

			@include respond-to('large') {
				width: 1024px;
			}

			@include respond-to('xlarge') {
				width: 1110px;
			}
			
			li {
				
				&:nth-child(4) a {
					background: #FFF;
				}

				&:last-child {
					margin-right: 0px;
				}

			}

		}

	}

	strong {
		font-size: 18px;
    	font-weight: $regular;
    	margin-top: 5px;
	}
	
	.btn {
		position: relative;
		z-index: 100;
		
		&:before, 
		&:after {
			background-color:$black;
		}

	}

	.bg-testimonials {
		position: absolute;
	    left: 50%;
	    margin-left: -662.5px;
	}

}