.carrousel {
	position: relative;
	padding-bottom: 40px;

	&:before {
		content: '';
		display: block;
		bottom: 0px;
		position: absolute;
		width: 100%;
		height: 45%;
		background: $green;
		z-index: -1;
	}
    
    .left-slide{
        position: absolute;
        width: 35px;
        height: 35px;
        top: calc(50% - 55px);
        left: 40px;
        cursor: pointer;
        z-index: 10;

        .arrow-1{
            position: absolute;
            width: 35px;
            height: 2px;
            background-color: #30f237;
            top: calc(50% - 2px);
            left: 0;
        }

        .arrow-2{
            @extend .arrow-1;
            width: 23px;
            top: 7px;
            left: -4px;
            transform: rotate(-45deg);
        }

        .arrow-3{
            @extend .arrow-1;
            width: 23px;
            top: 23px;
            left: -4px;
            transform: rotate(45deg);
        }

    }

    .right-slide{
        @extend .left-slide;
        left: initial;
        right: 40px;
        transform: rotate(180deg);
    }


	.studio-slider {
		
	    margin: auto;
	    position: relative;
	    margin-bottom: 8px;

	    .flex-viewport {
			@include box-shadow(rgba(#666, 0.4) 0 6px 20px);
	    }

		@include respond-to('medium') {
			max-width: 1325px;
		}

	}

	.flexslider {
        
        .flex-direction-nav{

				a{
					opacity: 1;

					&:before{
						opacity: 0;
					}

				}

			}

			&:hover{

				.flex-direction-nav{

					.flex-prev{
						opacity: 1;
				        left: -95px;
					}

					.flex-next{
						opacity: 1;
				        right: -95px;
					}

				} 

			} 

		
		.flex-control-nav {
			text-align: right;
			margin: auto;
			bottom: -20px;
			right: 15px;
			z-index: 10;
			position: relative;

			@include respond-to('medium') {
				width: 768px;
				right: 0px;
			}

			@include respond-to('large') {
				width: 1024px;
			}

			@include respond-to('xlarge') {
				width: 1110px;
			}
			
			li {
				
				&:nth-child(4) a {
					background: #FFF;
				}

				&:last-child {
					margin-right: 0px;
				}

			}

		}

	}

	strong {
		font-size: 18px;
    	font-weight: $regular;
    	margin-top: 5px;
	}
	
	.btn {
		position: relative;
		z-index: 100;
		
		&:before, 
		&:after {
			background-color:$black;
		}

	}

	.bg-testimonials {
		position: absolute;
	    left: 50%;
	    margin-left: -662.5px;
	}

}