footer {
    height: 325px;
	color: $white;
    padding-top: 25px;
    margin-top: 20px;
    background-image: url(images/footer-bg-mobile.png);
    background-position: right top;
    background-repeat: no-repeat;
    
    @include respond-to('small') {
        height: 460px;
        @include background-image(linear-gradient(to bottom right, #169CFF, #6666FF));
        margin-top: 85px;
    }

	.logo-footer {
		position: absolute;
		left: 50%;
		margin-left: -39px;
		top: -38px;

		@include respond-to('medium') {
			right: -9px;
			left: auto;
			margin-left: auto;
		}

	}

	.footer-text {
		padding-top: 50px;
		color: $green;
		font-size: 22px;
		font-weight: $extra-bold;
        
        @include respond-to('small') {
             padding-top: 118px;
        }

	}

	.footer-mail {
        font-family: "Montserrat";
		padding-top: 10px;
		color: $white;
		font-size: 22px;
		font-weight: $extra-bold;
		display: block;
        
        @include respond-to('small') {
             font-size: 26px;
        }

		@include respond-to('medium') {
			font-size: 42px;
		}

	}

	.social-networks {
		padding-top: 60px;
	}

	.footer-rights {
		width: 100%;
		text-align: right;

		@include respond-to('medium') {
			float: left;
			width: auto;
			text-align: left;
		}

	}

	.clock-container {
		position: absolute;
		bottom: 45px;
		width: 150px;
		right: 15px;
		margin-left: -75px;

		.numbers {
			font-size: 14px;
			color: $white;
			font-weight: 600;
			position: relative;
			top: 16px;
			left: 39px;
		}

		strong {
			color: #FFF;
			font-weight: 300;
			position: relative;
			top: 16px;
			left: 10px;
		}

		*{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		.clock-border {
			display: block;
			width: 41px;
			height: 41px;
			border-radius: 100%;
			border: 2px solid $green;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}	

		.clock {
			border: 3px solid rgba(0, 0, 0, 0);
			border-radius: 100%;
			display: inline-block;
			height: 35px;
			width: 35px;
			position: relative;
			top: -3px;
			float: right;
			right: 3px;

			.hour {
				background: $green;
				height: 0;
				left: 50%;
				position: absolute;
				top: 50%;
				width: 0;
				-webkit-transform-origin: 50% 100%;
				-moz-transform-origin: 50% 100%;
				-o-transform-origin: 50% 100%;
				-ms-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				margin: -12px -2px 0;
				padding: 12px 1px 0;
			}

			.minute {
				background: $green;
				height: 0;
				left: 50%;
				position: absolute;
				top: 50%;
				width: 0;
				-webkit-transform-origin: 50% 100%;
				-moz-transform-origin: 50% 100%;
				-o-transform-origin: 50% 100%;
				-ms-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				margin: -16px -2px 0;
				padding: 16px 1px 0;
			}

		}
		
		@include respond-to('medium') {
			right: 0px;
			left: auto;
			bottom: -4px;
			margin-left: auto;
		}

	}

	.footer-bottom {
		padding-top: 96px;
		font-size: 14px;
		font-weight: $light;
        max-width: 600px;
        display: block;
        margin: 0 auto;
        
        @include respond-to('large') {
            max-width: 850px;
        }
        
        @include respond-to('xlarge') {
            max-width: 100%;
        }
	}

}