body {
	padding-top: 50px;

	@include respond-to('medium') {
		padding-top: 105px;
	}
}

header {
	height: 50px;
	background: #FFF;

	&.cd-auto-hide-header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  min-height: 65px;
	  transition: transform .5s;
	  z-index: 3000;
		
		&.is-hidden {
		  transform: translateY(-100%)!important;
		}

	}
	

	@include respond-to('medium') {
		height: 65px;
		padding-top: 40px;
	}
    
    &.small{
        
        #haku-logo {
            
            .logo-home{
                width: 60%;
                transition: all 0.5s;
                
                @include respond-to('medium') {
                    width: auto;
                }
                
            }
            
        }
        
    }

	#haku-logo {
		position: absolute;
		left: 9px;
		top: 10px;
		z-index: 10;
		transition: transform .5s;

		.logo-home {
			width: 80%;
            transition: all 0.5s;

			@include respond-to('medium') {
				width: auto;
			}
		}

		.logo-section {
			transition: all .2s ease-in-out;

			@include respond-to('max-small') {
				transform: scale(0.7);
			}
		}

		@include respond-to('medium') {
			left: -28px;
			top: 10px;
		}

	}

}

