html, body {
	&.no-scroll {
		height: 100vh;
    	overflow-y: hidden;
	}
}

.menu-link {
	position: fixed;
    top: 5px;
    right: 0;
    background: $white;
    font-size: 11px;
    z-index: 10;
    width: 3em;
    height: 3em;
    padding: 1em;

	span {
	    position: relative;
	    display: block;
	    margin-top: 1.4em;
	    width: 28px;

		&:before, &:after {
			position: absolute;
			top: -.75em;
			content: " ";
			width: 33px;
		}
		&:after {
			top: .75em;
		}

	}

	span, span:before, span:after {
		background-color: $black;
		height: 4px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 5px;
	}

	&.active {
		span {
			background: transparent;
			&:before {
				-webkit-transform: rotate(45deg) translate(.7em, .6em);
				-moz-transform: rotate(45deg) translate(.7em, .6em);
				-ms-transform: rotate(45deg) translate(.7em, .6em);
				-o-transform: rotate(45deg) translate(.7em, .6em);
				transform: rotate(45deg) translate(.7em, .6em);
			}
			&:after {
				-webkit-transform: rotate(-45deg) translate(.5em, -.4em);
				-moz-transform: rotate(-45deg) translate(.5em, -.4em);
				-ms-transform: rotate(-45deg) translate(.5em, -.4em);
				-o-transform: rotate(-45deg) translate(.5em, -.4em);
				transform: rotate(-45deg) translate(.5em, -.4em);
			}
		}
	}

}

.menu-mobile { 
	position: relative;
	top: 65px;
	height: calc(100vh - 65px);
	width: 100%;
	background-color: #FFF;
	text-align: center;
	border-top: 1px solid #EEE;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	visibility: hidden;
	opacity: 0;

	&.visible {
		visibility: visible;
		opacity: 1;
		
		.pure-menu-item {

			&:nth-child(1) {
				@include animation(item_menu_mobile 0.5s 0.3s normal forwards);
			}
			&:nth-child(2) {
				@include animation(item_menu_mobile 0.5s 0.35s normal forwards);
			}
			&:nth-child(3) {
				@include animation(item_menu_mobile 0.5s 0.4s normal forwards);
			}
			&:nth-child(4) {
				@include animation(item_menu_mobile 0.5s 0.45s normal forwards);
			}
		}

		.social-networks {
			@include animation(item_menu_mobile 0.5s 0.5s normal forwards);
		}

	}

	.pure-menu-list {
		position: absolute;
	    width: 100%;
	    top: 50%;
	    margin-top: -206px;

		.pure-menu-item {
			height: auto;
			opacity: 0;

			a {
				font-size: 30px;
				font-weight: 700;
				color: #3A3A3A;

				&.pure-button-active {
				    color: #1FFF00;
				    box-shadow: none;
				}
			}
		}

	}

	.social-networks {
		
		font-size: 25px;
		position: absolute;
		bottom: 15%;
		width: 100%;
		opacity: 0;

		.social-link {
			color: $black;
			padding: 0 15px;
		}

		span {
			display: block;
    		font-size: 14px;
    		margin-top: 10px;
		}

	}

	
}

.pure-menu-horizontal {
	float: right;
	width: auto;
	padding-top: 14px;

	.pure-menu-item {
		margin-left: 25px;

		&:last-child {

			.pure-menu-link {
				padding-left: 0px;
				position: relative;
				top: -3px;
				background-position: right 11px;

				&:hover {
					color: $black;
				}
			}

		}
		
		.pure-menu-link {
			font-size: 18px;
			font-weight: $semi-bold;
			color: $black;

			&:hover {
				color: $green;
				background-color: transparent;
			}
			&:focus, &:active {
				background-color: transparent;
			}

		}

		.pure-button-active {
			border: none;
			color: $green;
			box-shadow: none;
		}

	}

}