.process-learning {
	width: 100%;
	height: 630px;
	color: $white;
	position:relative;
	background: rgb(65,13,150); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(65,13,150,1) 0%, rgba(83,116,187,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(65,13,150,1) 0%,rgba(83,116,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(65,13,150,1) 0%,rgba(83,116,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#410d96', endColorstr='#5374bb',GradientType=0 ); /* IE6-9 */

	&:before {
		content: "1";
		position: absolute;
		top: 0;
		left: 0;
		font-size: 800px;
		font-family: 'Open Sans';
	}
}