.process-section {
	width: 100%;
	height: 600px;
	color: $white;
	position:relative;
	background: rgb(65,13,150); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(65,13,150,1) 0%, rgba(83,116,187,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(65,13,150,1) 0%,rgba(83,116,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(65,13,150,1) 0%,rgba(83,116,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#410d96', endColorstr='#5374bb',Gradie
	ntType=0 ); /* IE6-9 */
	font-size: 0;
	overflow: hidden;
    
    .process-container{
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
    }

	.process-number {
		position: absolute;
		top: -120px;
		left: 0;
		font-size: 800px;
		font-family: 'Open Sans';
		color: #4f5eb3;
		opacity: 0;
        transform: translate(-220px, 0);

        &.fade-left{
            transform: translate(220px, 0);
		}
		
		&.fade-number{
			opacity: 0.5;
			transition: all 1.5s;
            transform: translate(0, 0);
		}
	}
	
	.process-absolute{
		position: absolute;
        left: 50px;
        top: 50px;
        
        @include respond-to("medium"){
            left: 100px;
            top: calc(50% - 30px);
        }   
        
        @include respond-to("large"){
            left: 250px;
        }

		.process-subtitle{
			font-size: 20px;
			font-weight: $light;
			margin: 0;
		}
		
		.process-title{
			font-size: 38px;
			font-weight: $extra-bold;
			margin: 0;
			opacity: 0;

			@include respond-to("medium"){
				font-weight: $semi-bold;
			}
			
			&.fade-in{
			opacity: 1;
			transition: all 1s;
			}
		}
		
	}
	
	.flexslider{
		height: 630px;
		
		.flex-control-nav{
			width: 20px;
			height: 120px;
            bottom: 20px;
            transform: rotate(-90deg);
            left: calc(50% - 15px);
            z-index: 999;
            
            @include respond-to("medium"){
              display: block;
              top: calc(50% - 65px);
    		  left: 0;
              transform: rotate(0deg);
            }

			li{
				margin: 3px 0;

				&:nth-child(1) a{
					background: #704ac5;
				}

				a{
					&.flex-active{
						padding: 15px 0;
					}
				}
			}
			
		}
		
		.slides{
			
			.first-slide{
				display: block;
				width: 60%;
				margin-left: 50px;
				position: absolute;
				padding: 20px 30px;
				top: -5px;
                color: #636ec6;
                border: 3px solid transparent;
                
                .process-info{
                    opacity: 0;
                    transition: all 0.5s;

					&.custom-animate {
                        opacity: 1;
                        
                         &.to-right{
                            @include animation(process-slides-mobile 1s 0s normal forwards);
                        }

                         &.to-left{
                            @include animation(process-slides-mobile-left 1s 0s normal forwards);
                        }
                        
                         @include respond-to("medium"){
                             &.to-right{
                                @include animation(process-slides 1s 0s normal forwards);
                            }

                            &.to-left{
                                @include animation(process-slides-left 1s 0s normal forwards);
                            }
                        }
                        .process-info-title{
                            @include animation(fade 1s 0s normal forwards);
                        }
					}
			     }
                
                .process-info-title{
                    font-size: 20px;
                    font-weight: $semi-bold;
                    opacity: 0;

                }

                
				.process-info-description{
					font-size: 16px;
					font-weight: $light;
					line-height: 30px;
                    letter-spacing: 0.1px;
				}
				
			}
						
			.last-slide{
				@extend .first-slide;
				top: initial;
				top: 400px;
                
                .process-info-title{
                    opacity: 0;
                }
			}
			
			.main-slide{
				border: 3px solid;
				border-image: linear-gradient(#5812d0, #63ccd9, #30f237)0 100%;
				padding: 20px 30px;
				position: absolute;
				top: calc(50% - 160px);
				display: block;
                margin: 0 50px;
                height: 300px;
                
                @include respond-to("medium"){
                    width: 60%; 
				    height: 226px;
                    margin-left: 50px;
                    top: calc(50% - 135px);
                }
                
                .process-info{
                    opacity: 0; 
                    
					&.custom-animate {
                        opacity: 1;
                        
                        &.to-right{
                            @include animation(process-main 1s 0s normal forwards);
                        }
                        
                        &.to-left{
                            @include animation(process-main-left 1s 0s normal forwards);
                        }
					}
			     }
			

				.process-info-title{
					font-size: 20px;
					font-weight: $semi-bold;
				}

				.process-info-description{
					font-size: 16px;
					line-height: 30px;
					font-weight: $light;
					letter-spacing: 0.1px;
				}

				&:before{
					content: "";
					width: 100%;
					height: 3px;
					background-color: #5812d0;
					position: absolute;
					top: 0;
					left: 0;
				}

				&:after{
					content: "";
					width: 100%;
					height: 3px;
					background-color: #30f237;
					position: absolute;
					bottom: 0;
					left: 0;
				} 
				
			}
			
		}

	}
		
	.left-slide{
        position: absolute;
        width: 35px;
        height: 35px;
        top: calc(50% - 35px);
        left: 10px;
        cursor: pointer;
        z-index: 5;
        display: none;
        
        @include respond-to("medium"){
            left: 25px;
            display: block;
        }
        
        @include respond-to("xlarge"){
            left: 110px;
        }
		
		.arrow-1{
			position: absolute;
			width: 25px;
			height: 2px;
			background-color: #30f237;
			top: calc(50% - 2px);
			left: 0;
            
            @include respond-to("medium"){
                width: 35px;
            }
		}
		
		.arrow-2{
			@extend .arrow-1;
			width: 18px;
			top: 9px;
			left: -4px;
			transform: rotate(-45deg);
            
            @include respond-to("medium"){
                width: 23px;
                top: 7px;
            }
		}
		
		.arrow-3{
			@extend .arrow-1;
			width: 18px;
			top: 21px;
			left: -4px;
			transform: rotate(45deg);
            
            @include respond-to("medium"){
                width: 23px;
                top: 23px;
            }
		}
		
	}
	
	.right-slide{
		@extend .left-slide;
		left: initial;
		right: 10px;
		transform: rotate(180deg);
        
        @include respond-to("medium"){
            right: 25px;
        }
        
         @include respond-to("xlarge"){
            right: 110px;
        }
		
	}

}