.page-studio {

	.hero-section {
		z-index: 10;

		.arrow {

			&.custom-animate {
				height: 510px;
			}

		}

	}

	.carrousel{
        
        .flexslider {
            .flex-prev{
                top: calc(50% - 20px);
            }

            .flex-next{
                top: calc(50% - 20px);
            }

        } 
        

		&.custom-animate {
			opacity: 1;
			transition: all 2s;
		}

		.ig-icon{
			margin: 0 20px 0 30px;
			vertical-align: middle;
		}

		.hidden-text{
			display: none;

			@include respond-to("medium"){
				display: inline;
			}

		}

		.arrow{

			&.custom-animate {
				min-height: 370px;
				@include transition-property(all);
				@include transition-delay(1.2s);
				@include transition-duration(0.5s);
				@include transition-timing-function(forwards);
			}
		}


	}

	.team{
		margin-top: 50px;
		position: relative;
		margin-bottom: 50px;

		@include respond-to('medium') {
			margin-top: 200px;

				&:before{
				content: 'Team';
				display: block;
				color: #3A3A3A;
				position: absolute;
				top: 70px;
				right: 22%;
				font-size: 270px;
				font-weight: 800;
				opacity: 0.1;
				text-align: center;
			}

		}

		.meet-our-team{
			@include respond-to('medium') {
				padding-left: 35px;
				margin-bottom: 145px;
			}

			.heading{
				font-size: 28px;
				margin-bottom: 10px;
			}

			.text{
				line-height: 35px;
			}

		}

		.team-member{
			padding: 20px;
			position: relative;
			@include transition-property(all);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in-out);

			@include respond-to('medium') {

				&:hover{
					transform: translateY(-7px);

					.member-info{
						opacity: 1;
						transform: translateY(-16px);
					}

					img{
						box-shadow: 0px 0px 20px 4px rgba(102, 102, 102, 0.15);
					}

				}

			}

			.member-info{
				position: absolute;
				display: none;
				bottom: -5px;
				left: 5px;
				z-index: 20;
				background: $white;
				padding: 20px 20px;
				width: 195px;
				text-align: left;
				opacity: 1;
				box-shadow: 0px 0px 20px 1px rgba(102, 102, 102, 0.15);
				opacity: 0;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);

				@include respond-to('medium') {
					display: block;
				}

				.member-name{
					font-size: 22px;
					font-weight: $extra-bold;
					margin: 0 0 5px 0;
					color: $black;
					text-align: right;
				}

				.member-position{
					font-size: 16px;
					color: $black;
					text-align: right;
				}

			}

			img{
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);
			}

		}

		.join-team{
			text-align: center;
			margin: 30px 0;
		}

	}

	.hakuna-video{

		.video-container{
			position:relative;
			max-width: 1325px;
			margin: 0 auto;

			&:hover{

				.video-info{
					color: #38bff4;
				}

			}

			img{
				cursor: pointer;
				position: relative;
				width: auto;
				max-width: 100%;

				@include respond-to('medium') {
					max-width: 100%;
					height: 300px;
					height: initial;
				}
			}

			.video-info{
				position: absolute;
				right: calc(50% - 125px);
				bottom: calc(50% - 37px);
				color: $white;
				font-size: 34px;
				font-weight: $semi-bold;
				cursor: pointer;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in-out);

				@include respond-to('medium') {
					bottom: 37px;
					right: 40px;
				}

				.video-text{
					display: inline-block;
					vertical-align: bottom;
				}

				.video-button{
					@extend .video-text;
					border: 1px solid;
					font-size: 20px;
					padding: 17px 20px 17px 23px;
					margin-bottom: 8px;
					margin-right: 5px;
				}

			}

		}

	}

	.work-rules{
	margin-bottom: 200px;

		.arrow{
			min-height: 100px;

			&.custom-animate {
				min-height: 300px;
				@include transition-property(all);
				@include transition-delay(1.2s);
				@include transition-duration(0.5s);
				@include transition-timing-function(forwards);
			}
		}

		.rules-heading{
			padding-top: 50px;

			@include respond-to('medium') {
				padding-left: 30px;
				padding-top: 200px;
			}

			.heading{
				font-size: 28px;
				font-weight: $extra-bold;
				margin-bottom: 10px;
			}

			.text{
				color: #727171;
				font-size: 22px;
				line-height: 35px;
			}
		}

		.flexslider{
            
            .flex-control-nav{
                z-index: 5;
            }

			.flex-direction-nav{

				a{
					opacity: 1;

					&:before{
						opacity: 0;
					}

				}

			}

			&:hover{

				.flex-direction-nav{

					.flex-prev{
						opacity: 1;
						left: -50px;
					}

					.flex-next{
						opacity: 1;
						right:  -50px;
					}

				} 

			} 

		}

		.rules-slider{
			margin-top: 30px;

			@include respond-to('medium') {
				margin-top: 150px;
			}

			.flex-direction-nav{

				a{
					opacity: 0.7;
					text-indent: -3000px;
					text-align: start;
					width: 47px;
					height: 36px;

					&:before{
						opacity: 0;
						content: '';
						background-image: url(images/prev-carrousel.png);
						width: 36px;
						height: 47px;
						display: block;
						background-repeat: no-repeat;
					}

				}

				.flex-prev{
					left: 30px;
				}

				.flex-next{
					right: 30px;
					transform: rotate(-180deg);

					&:before {
						
					}

				}

			}

			&:hover{

				.flex-direction-nav{

					.flex-prev{
				        left: 30px;

				        &:before{
							opacity: 1;
						}

					}

					.flex-next{
				        right: 30px;

				        &:before{
							opacity: 1;
						}

					}
	                
				} 

			} 

			.rule{
				position: relative;

				@include respond-to('medium') {
					height: 460px;
				}

				@include respond-to('medium') {

					.bg-number{
						position: absolute;
						font-size: 650px;
						font-family: 'Open Sans';
						color: #f2f2f2;
						z-index: -1;
						letter-spacing: -54px;
						top: -175px;

						@include respond-to('large') {
							left: 115px;
						}

					}

				}

				.rule-content{
					@include respond-to('large') {
						padding-right: 100px;
						padding-left: 200px;
					}

					.rule-number{
						font-size: 34px;
						color: #3A3A3A;
						font-weight: 100;
						margin: 0;
					}

					.rule-title{
						font-size: 75px;
						color: #3A3A3A;
						margin: 0;
						opacity: 0;
						@include transform (translate( 0, 10px));
						@include transition-property(all);
					}

					.rule-description{
						color: #3A3A3A;
						font-weight: 100;
						line-height: 30px;
						font-size: 16px;
						opacity: 0;
						@include transform (translate( 0, 10px));
						@include transition-property(all);
					}

				}

				&.flex-active-slide{

					.rule-content{
					
						.rule-title{
							@include animation(hero_titles 1s 0.2s normal forwards);
						}

						.rule-description{
							@include animation(hero_titles 1s 0.3s normal forwards);
						}

					}

				}

			}

		}

	}

}