.page-works {
	.works {
		padding-top: 185px;
		position: relative;

		@include respond-to('medium') {
			padding-top: 322px;
		}

		&:before {
			position: absolute;
			top: 31%;
			content: '';
			display: block;
			width: 100%;
			height: 51%;
			background: $grey-light;
			z-index: -1;
		}

		.work {

			@include respond-to('medium') {
				bottom: -160px;
			}

			&.pull-right {
				bottom:auto;
			}

		}

		.btn {
			position: relative;
			margin: 40px auto 0;
			display: block;
			clear: both;
			top: 50px;
			width: 140px;

		}

	}

	.testimonials {
		padding-top: 150px;
		padding-bottom: 100px;

		@include respond-to('medium') {
			padding-top: 208px;
		}

	}

	.footer-spacer {
		height: 55px;
	}
}