// Hero Titles 

@include keyframes(hero_titles) {
    0%   { 
    	@include transform (translate( 0, 50px)); 
    }
  	100% { 
  		@include transform (translate( 0, 0px)); 
  		opacity: 1;
  	}
}

// Hero Fade animate 

@include keyframes(hero_animate) {
    0%   { 
    	opacity: 0;
    }
  	100% { 
  		opacity: 1;
  	}
}

// Btn border animate 

@include keyframes(btn_border_animate) {
    0%   { 
      width: 100%;
    }
    100% { 
      width: 0%;
    }
}
@include keyframes(btn_border_animate_two) {
    0%   { 
      width: 0%;
    }
    100% { 
      width: 100%;
    }
}

// Process section

@include keyframes(process-main){
    0%   { 
      @include transform (translate( 0, 220px));
        color: #636ec6;
    }
    100% { 
      @include transform (translate( 0, 0));
        color: $white;
    }
}

@include keyframes(process-slides){
    0%   { 
      @include transform (translate( 0, 185px));
        color: $white;
    }
    100% { 
      @include transform (translate( 0, 0));
        color: #636ec6;
    }
}

@include keyframes(process-main-left){
    0%   { 
      @include transform (translate( 0, -220px));
        color: #636ec6;
    }
    100% { 
      @include transform (translate( 0, 0));
        color: $white;
    }
}

@include keyframes(process-slides-left){
    0%   { 
      @include transform (translate( 0, -200px));
        color: $white;
    }
    100% { 
      @include transform (translate( 0, 0));
        color: #636ec6;
    }
}

@include keyframes(fade){
    0%   { 
    	opacity: 1;
    }
  	100% { 
  		opacity: 0;
  	}
}