.box{
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(102, 102, 102, 0.2);
    position: relative;
    margin: 7px 0;
    overflow: hidden;
    transition: all 0.5s;
    
    @include respond-to("small"){
        margin: 15px;
    }
    
    .info-hover{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: calc(100% - 40px);
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom right, #6666ff, #169cff);
        color: #ffffff;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        transition: all 0.5s;
        display: none;
        
        @include respond-to("small"){
             display: flex;
        }
        
        .box-title{
            p{
                font-family: "Montserrat";
                font-size: 30px;
                font-weight: $wblack;
                margin: 0 0 -20px;
            }
        }
        
        .btn {
            display: inline-block;
            width: 165px;
            margin: 0 auto;
        }
    }
    
    @include respond-to("medium"){
        &:hover{
           -moz-box-shadow: rgba(102, 102, 102, 0.4) 0 6px 20px;
        -webkit-box-shadow: rgba(102, 102, 102, 0.4) 0 6px 20px;
                box-shadow: rgba(102, 102, 102, 0.4) 0 6px 20px;
            transition: all 0.5s;

            .info-hover{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }

        }
    }
}