.carrousel {
	position: relative;
	padding-bottom: 40px;

	&:before {
        content: '';
        display: block;
        top: 5px;
        position: absolute;
        width: 100%;
        height: 110%;
        background-image: url(images/carrousel-bg.png);
        z-index: -1;
        background-repeat: no-repeat;
        background-size: 220%;
        background-position: bottom right;
        background-position-x: 110%;
        background-position-y: 70px;
        
        @include respond-to('medium') {
            background-position: bottom left;
            background-size: 85%;
            background-position-y: 50%;
        }
        
        @include respond-to('large') {
            background-size: 75%;
            background-position-y: 75%;
        }
	}
    
    .fa-instagram{
        font-size: 35px;
        position: relative;
        bottom: -10px;
        margin-right: 10px;
    }

	.studio-slider {
	    margin: auto;
	    position: relative;
	    margin-bottom: 8px;
        margin: 0 auto;
        height: 550px;

        @include respond-to('medium') {
            width: auto;
            margin-bottom: 0;
            height: auto;
        }


	    .flex-viewport {
			border-radius: 15px;
            height: 100%;
            overflow: hidden;
            
            @include respond-to('medium') {
                height: auto;
            }
            
            .slides{
                height: 100%;
            }

			li{
				height: 100%;

				@include respond-to('medium') {
					height: auto;
				}

				img{
					height: 100%;
					object-fit: cover;
					object-position: center;

					@include respond-to('medium') {
						height: auto;
						width: 100%;
					}
				}
			}
	    }

		@include respond-to('medium') {
			max-width: 1325px;
		}

	}

	.flexslider {
        position: relative;
        
        .flex-direction-nav{

        	display: none;

        	@include respond-to('medium') {
        		display: block;
        	}

			a{
				opacity: 0.7;
				text-indent: -3000px;
				text-align: start;
				width: 50px;
				height: 50px;

				&:before{
					opacity: 0;
					content: '';
					background-image: url(images/prev-carrousel.png);
					width: 100%;
					height: 100%;
					display: block;
					background-repeat: no-repeat;
				}

			}

			.flex-prev{
				left: 30px;
			}

			.flex-next{
				right: 30px;
				transform: rotate(-180deg);

				&:before {
					
				}

			}

		}

		&:hover{

			.flex-direction-nav{

				.flex-prev{
			        left: 30px;

			        &:before{
						opacity: 1;
					}

				}

				.flex-next{
			        right: 30px;

			        &:before{
						opacity: 1;
					}

				}
                
			} 

		} 

		
		.flex-control-nav {
            left: 0;
            width: 100%;
			

			@include respond-to('medium') {
                text-align: right;
                margin: auto;
                z-index: 10;
                position: relative;
				right: 0px;
				bottom: -37px;
			}

			@include respond-to('xlarge') {
				width: 1110px;
			}
			
			li {
                
                &:nth-child(1) a {
                    background: #6BC6EB;
                }
                &:nth-child(2) a {
                    background: #5810D0;
                }
                &:nth-child(3) a {
                    background: #6573DA;
                }
                &:nth-child(4) a {
                    background: #6BC6EB;
                }
                &:nth-child(5) a {
                    background: #FFFFFF;
                }

				&:last-child {
					margin-right: 0px;
				}

			}

		}

	}

	strong {
		font-size: 18px;
    	font-weight: $regular;
    	margin-top: 5px;
	}
	
	.btn {
        font-family: "Montserrat";
		position: relative;
		z-index: 100;
        font-weight: 600;
        
		&:before, 
		&:after {
			background-color :$white;
		}

	}

	.bg-testimonials {
		position: absolute;
	    left: 50%;
	    margin-left: -662.5px;
	}

}