p {
	font-size: 18px;
}
.text {
	margin-bottom: 35px;
	font-size: $text-mobile-size;
	line-height: $text-mobile-line-height;
	font-weight: $light;
	color: $grey;

	@include respond-to('medium') {
		font-size: $text-size;
		line-height: $text-line-height;
	}

}
.underline {
	text-decoration: underline;
}
.default {
	padding-top: 40px;

	@include respond-to('medium') {
		padding-top: 120px;
	}

}
.pull-left {
	left: 0;
	float: left;
}
.pull-right {
	right: 0;
	float: right;
}
.text-center {
	text-align: center;
}
.hideme {
	opacity: 0;
}
.padding-mb {
	padding: 0 30px;

	@include respond-to('xlarge') {
        padding: 0px;
    }

}
.transition {
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(forwards);
}
.hero-animate {
	opacity: 0;
	@include animation(hero_animate 1s 0.2s normal forwards);
}
.hidden-xs {
	display: none;

	@include respond-to('medium') {
		display: block;
	}
}
.visible-xs {
	display: block;

	@include respond-to('medium') {
		display: none;
	}

}
