.heading {
	font-size: 20px;
	margin-top: 0px;

	@include respond-to('medium') {
		font-size: 22px;
	}

}

.title{
    font-size: 24px;
    font-weight: 900;
    font-family: "Montserrat";
    margin-bottom: 25px;
    color: #3A3A3A;
    
    @include respond-to('medium') {
		font-size: 35px;
	}
}

.subtitle{
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
    color: #3A3A3A;
}